<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pan.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">-->

    <link href="https://cdn.bootcss.com/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">

    <!-- to put jQuery here is to ensure every script correctly loaded -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
</head>

<body>
    <main class="container" style="margin-bottom: 50px;margin-top: 50px;">
		<div class="logincard">
			<h1 class="headup">Register</h1>

			<form action="" method="post">
				{{ form.hidden_tag() }}
				<p>
					{{ form.username(class="form-control", placeholder="Username") }}
					{% for error in form.username.errors %}
					<small clas="error-bullet">{{ error }}</small>
					{% endfor %}
				</p>
				
				<p>
					{{ form.email(type="email", class="form-control", placeholder="Email address") }}
					{% for error in form.email.errors %}
					<small clas="error-bullet">{{ error }}</small>
					{% endfor %}
				</p>
				<p>
					{{ form.password(type="password", class="form-control", placeholder="Password") }}
					{% for error in form.password.errors %}
					<small clas="error-bullet">{{ error }}</small>
					{% endfor %}
				</p>
				<p>
					{{ form.password2(type="password", class="form-control", placeholder="Confirm password") }}
					{% for error in form.password2.errors %}
					<small clas="error-bullet">{{ error }}</small>
					{% endfor %}
				</p>
				{{ form.submit(type="submit", class="btn btn-outline-danger btn-sm btn-block") }}
			</form>
		</div>
	</main>
</body>
</html>